@page
@model livestock.Pages.StockPurchasesPage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<environment include="Development">
    <script src="~/js/StockPurchasesCreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/StockPurchasesCreate.js"></script>
</environment>

<h2>Edit</h2>

<h4>StockPurchase</h4>
<hr />

@{

    string StyleTypeOfAnimal = "";
    string StyleNumber = "";
    string StylePrice = "";
    string StyleFreight = "";
    string StyleEstimatedWeight = "";

    switch (Model.StockPurchase.BuyTypeID.ToString())
    {
        case "29dec9c6-c2c3-4603-9c37-3256ab99215a"://Market Buy
            StyleTypeOfAnimal = "none";
            StyleNumber = "none";
            StylePrice = "none";
            StyleFreight = "none";
            StyleEstimatedWeight = "none";
            break;
        case "d180ff28-1321-467a-a0de-d7955d463762"://Private Buy
            StyleNumber = "none";
            StylePrice = "none";
            StyleFreight = "none";
            StyleEstimatedWeight = "none";
            break;
        case "196d17bd-5320-47da-9d44-57ff705c18b9"://Hooks Buy
            StylePrice = "none";
            StyleFreight = "none";
            break;
    }


}


<form method="post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default panel-success">
                <div class="panel-body" style="padding:15px">

                    <div class="col-md-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="StockPurchase.ID" />
                        <div class="form-group">
                            <label asp-for="StockPurchase.Date" class="control-label"></label>
                            <input asp-for="StockPurchase.Date" class="form-control" />
                            <span asp-validation-for="StockPurchase.Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.BuyTypeID" class="control-label"></label>
                            <input asp-for="StockPurchase.BuyType.Name" class="form-control" readonly="readonly" />
                            <input type="hidden" asp-for="StockPurchase.BuyTypeID" class="form-control" />
                            

                            @*<select asp-for="StockPurchase.BuyTypeID" class="form-control" asp-items="ViewBag.BuyTypeID">
            <option value="@null"></option>
        </select>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.BuyerNo" class="control-label"></label>
                            <input asp-for="StockPurchase.BuyerNo" class="form-control" />
                            <span asp-validation-for="StockPurchase.BuyerNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.BuyerID" class="control-label"></label>
                            <select asp-for="StockPurchase.BuyerID" class="form-control" asp-items="ViewBag.BuyerID">
                                <option value="@null"></option>
                            </select>
                            <span asp-validation-for="StockPurchase.BuyerID" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display:@StyleTypeOfAnimal">
                            <label asp-for="StockPurchase.TypeOfAnimalID" class="control-label"></label>
                            <select asp-for="StockPurchase.TypeOfAnimalID" class="form-control" asp-items="ViewBag.TypeOfAnimalID">
                                <option value="@null"></option>
                            </select>
                            <span asp-validation-for="StockPurchase.TypeOfAnimalID" class="text-danger"></span>
                        </div>



                        <div class="form-group" style="display:@StyleNumber">
                            <label asp-for="StockPurchase.Number" class="control-label"></label>
                            <input asp-for="StockPurchase.Number" class="form-control" />
                            <span asp-validation-for="StockPurchase.Number" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display:@StylePrice">
                            <label asp-for="StockPurchase.Price" class="control-label"></label>
                            <input asp-for="StockPurchase.Price" class="form-control" />
                            <span asp-validation-for="StockPurchase.Price" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-1">
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" style="display:@StyleFreight">
                            <label asp-for="StockPurchase.Freight" class="control-label"></label>
                            <input asp-for="StockPurchase.Freight" class="form-control" />
                            <span asp-validation-for="StockPurchase.Freight" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display:@StyleEstimatedWeight">
                            @*<div class="form-group">
                                <label asp-for="StockPurchase.Freight" class="control-label"></label>
                                <input asp-for="StockPurchase.Freight" class="form-control" />
                                <span asp-validation-for="StockPurchase.Freight" class="text-danger"></span>
                            </div>*@
                            <label asp-for="StockPurchase.EstimatedWeight" class="control-label"></label>
                            <input asp-for="StockPurchase.EstimatedWeight" class="form-control" />
                            <span asp-validation-for="StockPurchase.EstimatedWeight" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.AgentID" class="control-label"></label>
                            <select asp-for="StockPurchase.AgentID" class="form-control" asp-items="ViewBag.AgentID">
                                <option value="@null"></option>
                            </select>
                            <span asp-validation-for="StockPurchase.AgentID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.LocationID" class="control-label"></label>
                            <select asp-for="StockPurchase.LocationID" class="form-control" asp-items="ViewBag.LocationID">
                                <option value="@null"></option>
                            </select>
                            <span asp-validation-for="StockPurchase.LocationID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.VendorName" class="control-label"></label>
                            @*<select asp-for="StockPurchase.VendorID" class="form-control" asp-items="ViewBag.VendorID">
            <option value="@null"></option>
        </select>*@
                            <input asp-for="StockPurchase.VendorName" class="form-control" />
                            <span asp-validation-for="StockPurchase.VendorName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StockPurchase.TransportID" class="control-label"></label>
                            <select asp-for="StockPurchase.TransportID" class="form-control" asp-items="ViewBag.TransportID">
                                <option value="@null"></option>
                            </select>
                            <span asp-validation-for="StockPurchase.TransportID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-1">
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="StockPurchase.IntendedDeliveryDate" class="control-label"></label>
                            <input asp-for="StockPurchase.IntendedDeliveryDate" class="form-control" />
                            <span asp-validation-for="StockPurchase.IntendedDeliveryDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="StockPurchase.DateDelivered" class="control-label"></label>
                            <input asp-for="StockPurchase.DateDelivered" class="form-control" />
                            <span asp-validation-for="StockPurchase.DateDelivered" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.NumberDelivered" class="control-label"></label>
                            <input asp-for="StockPurchase.NumberDelivered" class="form-control" />
                            <span asp-validation-for="StockPurchase.NumberDelivered" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="StockPurchase.YTBDelivered" class="control-label"></label>
                                <input asp-for="StockPurchase.YTBDelivered" class="form-control" />
                                <span asp-validation-for="StockPurchase.YTBDelivered" class="text-danger"></span>
                            </div>*@

                        <div class="form-group">
                            <label asp-for="StockPurchase.ContactName" class="control-label"></label>
                            <input asp-for="StockPurchase.ContactName" class="form-control" />
                            <span asp-validation-for="StockPurchase.ContactName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.ContactPhone" class="control-label"></label>
                            <input asp-for="StockPurchase.ContactPhone" class="form-control" />
                            <span asp-validation-for="StockPurchase.ContactPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StockPurchase.ContactFax" class="control-label"></label>
                            <input asp-for="StockPurchase.ContactFax" class="form-control" />
                            <span asp-validation-for="StockPurchase.ContactFax" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="StockPurchase.InvoiceRecD" /> @Html.DisplayNameFor(model => model.StockPurchase.InvoiceRecD)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default btn-success" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-md-1"></div>
        @*<div class="col-md-2">
                <div class="panel panel-default panel-success">
                    <div class="panel-body" style="padding-top:15px;padding-bottom:15px">



                    </div>
                </div>
            </div>*@

        <div class="col-md-10">
            <div class="panel panel-default panel-success">
                <div class="panel-body" style="padding-top:15px;padding-bottom:15px">

                    <div class="container">
                        <ul class="nav nav-tabs">
                            @switch (Model.StockPurchase.BuyTypeID.ToString())
                            {
                                case "d180ff28-1321-467a-a0de-d7955d463762": // "Private Buy"
                                    <li class="active"><a data-toggle="tab" href="#menu1">Price per Head Buy&nbsp;&nbsp;</a></li>
                                    break;

                                case "29dec9c6-c2c3-4603-9c37-3256ab99215a": // "Market Buy"
                                    <li class="active"><a data-toggle="tab" href="#menu2">Market Buy&nbsp;&nbsp;</a></li>
                                    break;


                                case "196d17bd-5320-47da-9d44-57ff705c18b9": // "Hooks Buy"
                                    <li class="active"><a data-toggle="tab" href="#home">Hooks Buy&nbsp;&nbsp;</a></li>
                                    break;

                                default:
                                    break;
                            }

                        </ul>

                        <input type="hidden" asp-for="StockPurchase.BuyTypeID" />

                        @*<div class="tab-content">*@

                        @*<div id="home" class="tab-pane fade in active">*@
                        @if (Model.StockPurchase.BuyTypeID.ToString() == "196d17bd-5320-47da-9d44-57ff705c18b9") // "Hooks Buy"
                        {
                            <div class="col-md-2" style="margin-top:20px">
                                <table>
                                    <tr>
                                        <td width="65%">
                                            <label asp-for="StockPurchase.WCl1Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl1Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl1Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl2Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl2Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl2Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl3Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl3Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl3Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl4Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl4Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl4Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl5Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl5Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl5Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl6Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl6Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl6Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl7Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl7Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl7Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl8Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl8Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl8Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl9Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl9Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl9Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl10Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl10Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl10Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl11Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl11Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl11Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="StockPurchase.WCl12Price" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="StockPurchase.WCl12Price" class="form-control text-center" />
                                            <span asp-validation-for="StockPurchase.WCl12Price" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*</div>*@
                        }


                        @if (Model.StockPurchase.BuyTypeID.ToString() == "d180ff28-1321-467a-a0de-d7955d463762") // "Private Buy"
                        {
                            @*<div id="menu1" class="tab-pane fade">*@
                            <div class="col-md-8" style="margin-top:20px">
                                <table style="min-width:600px">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="25%">
                                                <label asp-for="PricePerHeadBuys[0].TypeOfAnimalID" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="PricePerHeadBuys[0].HeadsBought" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="PricePerHeadBuys[0].Price" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="PricePerHeadBuys[0].Freight" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="PricePerHeadBuys[0].Skin" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="PricePerHeadBuys[0].Weight" class="control-label"></label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="PricePerHeadBuy">

                                        @{
                                            int i = 0;
                                            foreach (Models.PricePerHeadBuy item in Model.PricePerHeadBuys)
                                            {
                                                <input type="hidden" asp-for="@Model.PricePerHeadBuys[i].ID" />
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <select asp-for="@Model.PricePerHeadBuys[i].TypeOfAnimalID" class="form-control" asp-items="ViewBag.TypeOfAnimalID"></select>
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i].TypeOfAnimalID" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.PricePerHeadBuys[i].HeadsBought" class="form-control text-center" oninput="FillSummaryTotals()" />
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i].HeadsBought" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.PricePerHeadBuys[i].Price" class="form-control text-center" oninput="FillSummaryTotals()" />
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i].Price" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.PricePerHeadBuys[i].Freight" class="form-control text-center" oninput="FillSummaryTotals()" />
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i].Freight" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.PricePerHeadBuys[i].Skin" class="form-control text-center" oninput="FillSummaryTotals()" />
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i].Skin" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.PricePerHeadBuys[i].Weight" class="form-control text-center" oninput="FillSummaryTotals()" />
                                                            @*<input asp-for="@item.Weight" class="form-control text-center" />*@
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i].Weight" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8" id="SummaryTotals">
                                <partial name="_SummaryTotalsPrivateBuy" model="Model.PricePerHeadBuys" />
                            </div>
                            @*</div>*@
                        }

                        @if (Model.StockPurchase.BuyTypeID.ToString() == "29dec9c6-c2c3-4603-9c37-3256ab99215a") // "Market Buy"
                        {
                            <div class="col-md-4" style="margin-top:20px">
                                <table style="min-width:600px">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="25%">
                                                <label asp-for="MarketBuys[0].AgentID" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="MarketBuys[0].Number" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="MarketBuys[0].Price" class="control-label"></label>
                                            </th>
                                            <th class="text-center">
                                                <label asp-for="MarketBuys[0].CodeDesc" class="control-label"></label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="MarketBuy">

                                        @{
                                            int i2 = 0;
                                            foreach (Models.MarketBuy item in Model.MarketBuys)
                                            {
                                                <input type="hidden" asp-for="@Model.MarketBuys[i2].ID" />

                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <select asp-for="@Model.MarketBuys[i2].AgentID" class="form-control" asp-items="ViewBag.AgentID">
                                                                <option value="">Select an Agent</option>
                                                            </select>
                                                            <span asp-validation-for="@Model.MarketBuys[i2].AgentID" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.MarketBuys[i2].Number" class="form-control text-center" oninput="MarketBuySummaryTotals()" />
                                                            <span asp-validation-for="@Model.MarketBuys[i2].Number" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.MarketBuys[i2].Price" class="form-control text-center" oninput="MarketBuySummaryTotals()" />
                                                            <span asp-validation-for="@Model.PricePerHeadBuys[i2].Price" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input asp-for="@Model.MarketBuys[i2].CodeDesc" class="form-control text-center" oninput="MarketBuySummaryTotals()" />
                                                            <span asp-validation-for="@Model.MarketBuys[i2].CodeDesc" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                i2++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-9" id="DivMakerBuySummaryTotals">
                                <partial name="_MarketBuySummaryTotalsEdit" model="Model.StockPurchase.MarketBuySummaries" />
                            </div>
                        }

                        @*</div>*@


                    </div>

                    <table style="width:100%">
                        <tr>
                            <td>
                                <a asp-page="Index">Cancel</a>
                            </td>
                            @*<td class="pull-right">
                                    <div class="form-group" style="margin-top:15px">
                                        <input type="submit" value="Create" class="btn btn-success btn-lg pull-right" />
                                    </div>
                                </td>*@
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
